@keyframes morph {
    0% {
        border-radius: 32% 30% 30% 23%/46% 36% 58% 50%;
    }
    25% {
        border-radius: 49% 21% 41% 25%/83% 53% 85% 41%;
    }
    75% {
        border-radius: 35% 31% 41% 31%/40% 44% 49% 30%;
    }
    100% {
        border-radius: 32% 30% 30% 23%/46% 36% 58% 50%;
    }
}

@keyframes rotate-right {
    0% {
        transform: rotate(0turn);
    }
    100% {
        transform: rotate(1turn);
    }
}

@keyframes rmore-waving {
    from {
        background-position: -35px 50%;
    }
    to {
        background-position: -990px 50%;
    }
}

@keyframes pop-char-out {
    0%,
    70%,
    100% {
        transform: translate(0em, 0em);
    }
    35% {
        transform: translate(0.05em, -0.1em);
    }
}
@keyframes pop-char-out2 {
    0%,
    70%,
    100% {
        transform: translate(0em, 0em);
    }
    35% {
        transform: translate(0.025em, -0.05em);
    }
}
//poptext
@keyframes color-cycle {
    0% {
        color: rgba(255, 255, 255, 0);
    }
    15% {
        color: var(--color-bg-text);
    }
    50% {
        color: var(--color-text);
    }
    80% {
        color: var(--color-text);
    }
    95% {
        color: var(--color-bg-text);
    }
    100% {
        color: rgba(255, 255, 255, 0);
    }
}

@keyframes bar-top {
    0% {
        top: 0;
        transform: rotate(0);
    }
    50% {
        top: 7px;
        transform: rotate(0);
    }
    100% {
        top: 7px;
        transform: rotate(45deg);
    }
}

@keyframes bar-top-2 {
  0% {
  top: 7px;
  transform: rotate(45deg);
  }
  50% {
  top: 7px;
  transform: rotate(0);
  }
  100% {
  top: 0;
  transform: rotate(0);
  }
  }

@keyframes bar-scaled {
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes bar-scaled-2 {
  0% {
  transform: scale(0);
  }
  50% {
  transform: scale(0);
  }
  100% {
  transform: scale(1);
  }
  }

@keyframes bar-bottom {
    0% {
        bottom: 0;
        transform: rotate(0);
    }
    50% {
        bottom: 7px;
        transform: rotate(0);
    }
    100% {
        bottom: 7px;
        transform: rotate(135deg);
    }
}
@keyframes bar-bottom-2{
  0% {
  bottom: 7px;
  transform: rotate(135deg);
  }
  50% {
  bottom: 7px;
  transform: rotate(0);
  }
  100% {
  bottom: 0;
  transform: rotate(0);
  }
  }
