@use "./mixin.scss";
@use "./base.scss";

.ev-cont {
    display: grid;
    grid-column-gap: 30px;
    row-gap: 30px;
    grid-template-columns: 1fr;
    align-items: stretch;
    justify-content: center;
    width: 100%;

    @include mixin.media-breakpoint-up(md) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include mixin.media-breakpoint-up(lg) {
        grid-template-columns: repeat(4, 1fr);
    }
    &-lg-three {
        @include mixin.media-breakpoint-up(lg) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

.event-img {
    margin-bottom: 25px;
    width: 100%;
    height: 100%;
    max-height: 270px;
    object-fit: cover;
    position: relative;
    z-index: 0;
    border-radius: inherit;
    filter: grayscale(0%);
}

.event-title2 {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 17px;
    font-weight: 500;
}
.event-location {
    color: base.$text;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 30px;
}
.event-pagination {
    display: flex;
    justify-content: flex-start;
    width: 100%;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        column-gap: 10px;
        flex-wrap: wrap;
        row-gap: 10px;
    }
    .direction {
        a {
            display: flex;
            flex-direction: row;
            align-items: center;
            column-gap: 10px;
            &:hover {
                color: var(--primary);
            }
        }
    }
    .page {
        border: 1px solid var(--text);
        border-radius: 50%;
        position: relative;
        &:first-of-type,
        &:last-of-type {
            border-width: 0px;
            font-weight: 500;
        }
        a {
            min-width: 32px;
            min-height: 32px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &:hover {
            border-color: var(--primary);
            color: var(--primary);
        }
        &--current {
            border-color: var(--primary);
            border-width: 1px;
            color: var(--primary);
        }
    }
}
