@font-face {
  font-family: "Prompt";
  src: url("/fonts/Prompt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Prompt";
  src: url("/fonts/Prompt-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Prompt";
  src: url("/fonts/Prompt-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Prompt";
  src: url("/fonts/Prompt-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Krona one";
  src: url("/fonts/KronaOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Prompt", sans-serif;
}
