.mt-0 { margin-top: 0px; }
.mt-5px { margin-top: 5px; }
.mt-10px { margin-top: 10px; }
.mt-15px { margin-top: 15px; }
.mt-20px { margin-top: 20px; }
.mt-25px { margin-top: 25px; }
.mt-30px { margin-top: 30px; }
.mt-35px { margin-top: 35px; }
.mt-40px { margin-top: 40px; }
.mt-45px { margin-top: 45px; }
.mt-50px { margin-top: 50px; }
.mt-55px { margin-top: 55px; }
.mt-60px { margin-top: 60px; }
.mt-65px { margin-top: 65px; }
.mt-70px { margin-top: 70px; }
.mt-75px { margin-top: 75px; }
.mt-80px { margin-top: 80px; }
.mt-85px { margin-top: 85px; }
.mt-90px { margin-top: 90px; }
.mt-95px { margin-top: 95px; }
.mt-100px { margin-top: 100px; }

.mb-0 { margin-bottom: 0px; }
.mb-5px { margin-bottom: 5px; }
.mb-10px { margin-bottom: 10px; }
.mb-15px { margin-bottom: 15px; }
.mb-20px { margin-bottom: 20px; }
.mb-25px { margin-bottom: 25px; }
.mb-30px { margin-bottom: 30px; }
.mb-35px { margin-bottom: 35px; }
.mb-40px { margin-bottom: 40px; }
.mb-45px { margin-bottom: 45px; }
.mb-50px { margin-bottom: 50px; }
.mb-55px { margin-bottom: 55px; }
.mb-60px { margin-bottom: 60px; }
.mb-65px { margin-bottom: 65px; }
.mb-70px { margin-bottom: 70px; }
.mb-75px { margin-bottom: 75px; }
.mb-80px { margin-bottom: 80px; }
.mb-85px { margin-bottom: 85px; }
.mb-90px { margin-bottom: 90px; }
.mb-95px { margin-bottom: 95px; }
.mb-100px { margin-bottom: 100px; }

.ml-0 { margin-left: 0px; }
.ml-5px { margin-left: 5px; }
.ml-10px { margin-left: 10px; }
.ml-15px { margin-left: 15px; }
.ml-20px { margin-left: 20px; }
.ml-25px { margin-left: 25px; }
.ml-30px { margin-left: 30px; }
.ml-35px { margin-left: 35px; }
.ml-40px { margin-left: 40px; }
.ml-45px { margin-left: 45px; }
.ml-50px { margin-left: 50px; }
.ml-55px { margin-left: 55px; }
.ml-60px { margin-left: 60px; }
.ml-65px { margin-left: 65px; }
.ml-70px { margin-left: 70px; }
.ml-75px { margin-left: 75px; }
.ml-80px { margin-left: 80px; }
.ml-85px { margin-left: 85px; }
.ml-90px { margin-left: 90px; }
.ml-95px { margin-left: 95px; }
.ml-100px { margin-left: 100px; }

.mr-0 { margin-right: 0px; }
.mr-5px { margin-right: 5px; }
.mr-10px { margin-right: 10px; }
.mr-15px { margin-right: 15px; }
.mr-20px { margin-right: 20px; }
.mr-25px { margin-right: 25px; }
.mr-30px { margin-right: 30px; }
.mr-35px { margin-right: 35px; }
.mr-40px { margin-right: 40px; }
.mr-45px { margin-right: 45px; }
.mr-50px { margin-right: 50px; }
.mr-55px { margin-right: 55px; }
.mr-60px { margin-right: 60px; }
.mr-65px { margin-right: 65px; }
.mr-70px { margin-right: 70px; }
.mr-75px { margin-right: 75px; }
.mr-80px { margin-right: 80px; }
.mr-85px { margin-right: 85px; }
.mr-90px { margin-right: 90px; }
.mr-95px { margin-right: 95px; }
.mr-100px { margin-right: 100px; }

/* Padding */
.p-0 { padding: 0px; }
.p-5px { padding: 5px; }
.p-10px { padding: 10px; }
.p-15px { padding: 15px; }
.p-20px { padding: 20px; }
.p-25px { padding: 25px; }
.p-30px { padding: 30px; }
.p-35px { padding: 35px; }
.p-40px { padding: 40px; }
.p-45px { padding: 45px; }
.p-50px { padding: 50px; }
.p-55px { padding: 55px; }
.p-60px { padding: 60px; }
.p-65px { padding: 65px; }
.p-70px { padding: 70px; }
.p-75px { padding: 75px; }
.p-80px { padding: 80px; }
.p-85px { padding: 85px; }
.p-90px { padding: 90px; }
.p-95px { padding: 95px; }
.p-100px { padding: 100px; }

/* Padding - Individual Directions */
.pt-0 { padding-top: 0px; }
.pt-5px { padding-top: 5px; }
.pt-10px { padding-top: 10px; }
.pt-15px { padding-top: 15px; }
.pt-20px { padding-top: 20px; }
.pt-25px { padding-top: 25px; }
.pt-30px { padding-top: 30px; }
.pt-35px { padding-top: 35px; }
.pt-40px { padding-top: 40px; }
.pt-45px { padding-top: 45px; }
.pt-50px { padding-top: 50px; }
.pt-55px { padding-top: 55px; }
.pt-60px { padding-top: 60px; }
.pt-65px { padding-top: 65px; }
.pt-70px { padding-top: 70px; }
.pt-75px { padding-top: 75px; }
.pt-80px { padding-top: 80px; }
.pt-85px { padding-top: 85px; }
.pt-90px { padding-top: 90px; }
.pt-95px { padding-top: 95px; }
.pt-100px { padding-top: 100px; }

.pb-0 { padding-bottom: 0px; }
.pb-5px { padding-bottom: 5px; }
.pb-10px { padding-bottom: 10px; }
.pb-15px { padding-bottom: 15px; }
.pb-20px { padding-bottom: 20px; }
.pb-25px { padding-bottom: 25px; }
.pb-30px { padding-bottom: 30px; }
.pb-35px { padding-bottom: 35px; }
.pb-40px { padding-bottom: 40px; }
.pb-45px { padding-bottom: 45px; }
.pb-50px { padding-bottom: 50px; }
.pb-55px { padding-bottom: 55px; }
.pb-60px { padding-bottom: 60px; }
.pb-65px { padding-bottom: 65px; }
.pb-70px { padding-bottom: 70px; }
.pb-75px { padding-bottom: 75px; }
.pb-80px { padding-bottom: 80px; }
.pb-85px { padding-bottom: 85px; }
.pb-90px { padding-bottom: 90px; }
.pb-95px { padding-bottom: 95px; }
.pb-100px { padding-bottom: 100px; }

.pl-0 { padding-left: 0px; }
.pl-5px { padding-left: 5px; }
.pl-10px { padding-left: 10px; }
.pl-15px { padding-left: 15px; }
.pl-20px { padding-left: 20px; }
.pl-25px { padding-left: 25px; }
.pl-30px { padding-left: 30px; }
.pl-35px { padding-left: 35px; }
.pl-40px { padding-left: 40px; }
.pl-45px { padding-left: 45px; }
.pl-50px { padding-left: 50px; }
.pl-55px { padding-left: 55px; }
.pl-60px { padding-left: 60px; }
.pl-65px { padding-left: 65px; }
.pl-70px { padding-left: 70px; }
.pl-75px { padding-left: 75px; }
.pl-80px { padding-left: 80px; }
.pl-85px { padding-left: 85px; }

.pl-90px { padding-left: 90px; }
.pl-95px { padding-left: 95px; }
.pl-100px { padding-left: 100px; }

.pr-0 { padding-right: 0px; }
.pr-5px { padding-right: 5px; }
.pr-10px { padding-right: 10px; }
.pr-15px { padding-right: 15px; }
.pr-20px { padding-right: 20px; }
.pr-25px { padding-right: 25px; }
.pr-30px { padding-right: 30px; }
.pr-35px { padding-right: 35px; }
.pr-40px { padding-right: 40px; }
.pr-45px { padding-right: 45px; }
.pr-50px { padding-right: 50px; }
.pr-55px { padding-right: 55px; }
.pr-60px { padding-right: 60px; }
.pr-65px { padding-right: 65px; }
.pr-70px { padding-right: 70px; }
.pr-75px { padding-right: 75px; }
.pr-80px { padding-right: 80px; }
.pr-85px { padding-right: 85px; }
.pr-90px { padding-right: 90px; }
.pr-95px { padding-right: 95px; }
.pr-100px { padding-right: 100px; }


@media (min-width: 992px) {
    .pt-lg-0 { padding-top: 0px; }
    .pt-lg-5px { padding-top: 5px; }
    .pt-lg-10px { padding-top: 10px; }
    .pt-lg-15px { padding-top: 15px; }
    .pt-lg-20px { padding-top: 20px; }
    .pt-lg-25px { padding-top: 25px; }
    .pt-lg-30px { padding-top: 30px; }
    .pt-lg-35px { padding-top: 35px; }
    .pt-lg-40px { padding-top: 40px; }
    .pt-lg-45px { padding-top: 45px; }
    .pt-lg-50px { padding-top: 50px; }
    .pt-lg-55px { padding-top: 55px; }
    .pt-lg-60px { padding-top: 60px; }
    .pt-lg-65px { padding-top: 65px; }
    .pt-lg-70px { padding-top: 70px; }
    .pt-lg-75px { padding-top: 75px; }
    .pt-lg-80px { padding-top: 80px; }
    .pt-lg-85px { padding-top: 85px; }
    .pt-lg-90px { padding-top: 90px; }
    .pt-lg-95px { padding-top: 95px; }
    .pt-lg-100px { padding-top: 100px; }
  
    .pb-lg-0 { padding-bottom: 0px; }
    .pb-lg-5px { padding-bottom: 5px; }
    .pb-lg-10px { padding-bottom: 10px; }
    .pb-lg-15px { padding-bottom: 15px; }
    .pb-lg-20px { padding-bottom: 20px; }
    .pb-lg-25px { padding-bottom: 25px; }
    .pb-lg-30px { padding-bottom: 30px; }
    .pb-lg-35px { padding-bottom: 35px; }
    .pb-lg-40px { padding-bottom: 40px; }
    .pb-lg-45px { padding-bottom: 45px; }
    .pb-lg-50px { padding-bottom: 50px; }
    .pb-lg-55px { padding-bottom: 55px; }
    .pb-lg-60px { padding-bottom: 60px; }
    .pb-lg-65px { padding-bottom: 65px; }
    .pb-lg-70px { padding-bottom: 70px; }
    .pb-lg-75px { padding-bottom: 75px; }
    .pb-lg-80px { padding-bottom: 80px; }
    .pb-lg-85px { padding-bottom: 85px; }
    .pb-lg-90px { padding-bottom: 90px; }
    .pb-lg-95px { padding-bottom: 95px; }
    .pb-lg-100px { padding-bottom: 100px; }
  
    .pl-lg-0 { padding-left: 0px; }
    .pl-lg-5px { padding-left: 5px; }
    .pl-lg-10px { padding-left: 10px; }
    .pl-lg-15px { padding-left: 15px; }
    .pl-lg-20px { padding-left: 20px; }
    .pl-lg-25px { padding-left: 25px; }
    .pl-lg-30px { padding-left: 30px; }
    .pl-lg-35px { padding-left: 35px; }
    .pl-lg-40px { padding-left: 40px; }
    .pl-lg-45px { padding-left: 45px; }
    .pl-lg-50px { padding-left: 50px; }
    .pl-lg-55px { padding-left: 55px; }
    .pl-lg-60px { padding-left: 60px; }
    .pl-lg-65px { padding-left: 65px; }
    .pl-lg-70px { padding-left: 70px; }
    .pl-lg-75px { padding-left: 75px; }
    .pl-lg-80px { padding-left: 80px; }
    .pl-lg-85px { padding-left: 85px; }
    .pl-lg-90px { padding-left: 90px; }
    .pl-lg-95px { padding-left: 95px; }
    .pl-lg-100px { padding-left: 100px; }
  
    .pr-lg-0 { padding-right: 0px; }
    .pr-lg-5px { padding-right: 5px; }
    .pr-lg-10px { padding-right: 10px; }
    .pr-lg-15px { padding-right: 15px; }
    .pr-lg-20px { padding-right: 20px; }
    .pr-lg-25px { padding-right: 25px; }
    .pr-lg-30px { padding-right: 30px; }
    .pr-lg-35px { padding-right: 35px; }
    .pr-lg-40px { padding-right: 40px; }
    .pr-lg-45px { padding-right: 45px; }
    .pr-lg-50px { padding-right: 50px; }
    .pr-lg-55px { padding-right: 55px; }
    .pr-lg-60px { padding-right: 60px; }
    .pr-lg-65px { padding-right: 65px; }
    .pr-lg-70px { padding-right: 70px; }
    .pr-lg-75px { padding-right: 75px; }
    .pr-lg-80px { padding-right: 80px; }
    .pr-lg-85px { padding-right: 85px; }
    .pr-lg-90px { padding-right: 90px; }
    .pr-lg-95px { padding-right: 95px; }
    .pr-lg-100px { padding-right: 100px; }
  }
  